::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
  width: 1px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  width: 1px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  width: 1px;
}
